.carousel-block {
    padding-left: 45px;
    padding-right: 45px;

    .slick-arrow {
        border: 1px solid $color__buttons;
        border-radius: 50%;
        height: 40px;
        top: calc(50% - 2rem);
        width: 40px;

        &:hover {
            //background-color: transparent;

            &::before {
                color: $color__white;
            }
        }

        &::before {
            @include font-awesome;
            color: $color__buttons;
            font-size: 25px;
            line-height: 1;
            opacity: 1;
            transition: color 0.3s ease;
        }

        &.slick-prev {
            padding-left: 0;
            padding-right: 3px;
            left: -45px;

            &::before {
                content: "\f053";
            }
        }

        &.slick-next {
            padding-left: 3px;
            padding-right: 0;
            right: -45px;

            &::before {
                content: "\f054";
            }
        }
    }

    .slick-dots {
        button {
            &:hover {
                background-color: transparent;

                &::before {
                    color: $color__buttons;
                    opacity: 1;
                }
            }
        }

        .slick-active {
            button::before {
                color: $color__buttons;
                opacity: 1;
            }
        }
    }
}
