.main-banner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0 10px;

    @media(min-width: $md) {
        flex-wrap: nowrap;
    }

    img {
        width: 100%;

        @media(min-width: $md) {
            width: 50%;
        }

        @media(min-width: $xl) {
            width: 66%;
        }
    }

    &-content {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        background-color: $color__primary;
        color: $color__white;
        padding: 15px 33px 25px;
        width: 100%;

        @media(min-width: $md) {
            width: 50%;
        }

        @media(min-width: $xl) {
            width: 34%;
        }

        h1,
        p {
            color: $color__white;
            text-align: right;
        }

        h1 {
            font-size: $font__h1-small-sm-size;
            margin-bottom: 25px;

            @media(min-width: $xl) {
                font-size: $font__h1-small-base-size;
                margin-bottom: 35px;
            }
        }

        p {
            color: $color__white;
            font-family: $font__body-display;
            font-size: 1rem;
            font-weight: 200;
            letter-spacing: 1px;
            margin-bottom: 35px;

            @media(min-width: $xl) {
                font-size: 1.25rem;
                margin-bottom: 45px;
            }
        }

        a {
            margin: 0 auto;
        }
    }
}
