.main-search-button {
    background-color: $color__accent;
    border-radius: 50%;
    color: $color__white;
    padding: 10px;
    line-height: 1;
    margin-left: auto;
    margin-right: 20px;
    order: 1;

    &::after {
        content: none !important;
    }

    &:hover,
    &:focus {
        background-color: $color__accent !important;
    }

    @media (min-width: $xl) {
        margin-left: 0;
        margin-right: 0;
        order: initial;
    }

}
